<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Jiu Jitsu App</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>uJitsu</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>

	<!-- GOOGLE SIGN-IN URL SCHEME -->
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<!-- Correct REVERSED_CLIENT_ID -->
				<string>com.googleusercontent.apps.252734026318-r0ijkvnhfclvjn3ov1ki4shvfn5dbae7</string>
			</array>
		</dict>

		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<!-- This is fine for Apple Sign In -->
				<string>com.ujitsugym.app</string>
			</array>
		</dict>
	</array>

	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>


    <key>FirebaseAppDelegateProxyEnabled</key>
    <true/>


	<!-- Permissions -->
    <key>NSCameraUsageDescription</key>
    <string>We need access to your camera to take profile and gym photos.</string>

    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Your location is used to show nearby gyms and open mats, and to help auto-fill your address accurately.</string>

    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>Your location helps us provide nearby gym and open mat suggestions and accurately fill address details when needed.</string>

    <key>NSPhotoLibraryUsageDescription</key>
    <string>We need access to your photo library so you can upload existing photos for your profile or gym.</string>

    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>We need permission to save photos to your library when you take new photos in the app.</string>


	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array/>

	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>

	<!-- Orientation -->
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
